@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    font-family: Be Vietnam Pro ;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    max-width: 700px;
    min-width: 612px;
    margin: 0 auto;
    background-color: #3eaaf5;
}

.form-elem{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    color: #fff;
}

h1{
    font-size: 40px;
}

p{
    font-size: 21px;
}

.form-elem-info{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    color: #fff;
}

.form-elem-input{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.form-elem-input > input{
   width: 250px;
   height: 60px;
   margin-top: 15px;
   border-radius: 5%;
   font-size: 15px;
   padding: 20px;
   border: none;
}

.form-elem-radio{
    margin: 20px auto;
    border: 2px solid #fff;
    width: 80%;
    height: 80px;
}

.form-elem-radio > label{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    height: 40px;
}

.name{
    margin: 10px 0 0 16px;
    font-size: 20px;
}

.descr{
    margin: 8px 0 0 40px;
    font-size: 13px;
}

.form-elem-check{
    color: #fff;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    font-size: 14.3px;
}

.button{
    background-color: #28d2d1;
    color: #fff;
    width: 80%;
    margin: 10px auto;
    height: 70px;
    font-size: 18px;
    border: 0;
    border-radius: 2%;
}

.error{
    font-size: 14px;
    color: #8f1717;
    border: 2px solid #8f1717;
    border-radius: 5px;
}